body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e2d6d6;

}

.navbar {
  background-color: hsl(263, 64%, 29%);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 90px;
  border-radius: 10px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #00bcd4;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #ffd700 !important;
}
footer{
  text-align: center;
  background-color: hsl(270, 4%, 10%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
